@import "@fortawesome/fontawesome-free/css/all.css";
@import '~bootstrap/scss/bootstrap';

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: .625rem;
}
.done{
    background-color: lightgreen;
}
.work{
    background-color: red;
}
.my-bg-success{
    background-color: rgb(206, 226, 217);
}
.hidden{
    display: none;
}
.show-img{
    width: 31.25rem;
    height: 31.25rem;
}
#app{
    background-color: rgb(239, 237, 237);
}
#nav{
    padding: .625rem 1.875rem;
    .header{
        height: 6.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
        .dropdown-toggle{
            background-color: transparent;
            border: none;
            font-size: 1.875rem;
            color: black;
        }
        .dropdown-toggle::after{
            display: none;
        }
    }
}